<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSE Example</title>
</head>
<body>
<div id="count"></div>
<button onclick="handleCountEvent()">클릭</button>

<script>
    const sse = new EventSource("https://dorundorun.shop/api/sse");

    sse.addEventListener('connect', (e) => {
        const { data: receivedConnectData } = e;
        console.log('connect event data:', receivedConnectData);  // "connected!"
    });

    sse.addEventListener('count', e => {
        const { data: receivedCount } = e;
        console.log("count event data:", receivedCount);
        handleCountEvent(receivedCount);
    });

    function handleCountEvent(count) {
        console.log("count event data:", count);
        const countElement = document.getElementById('count');
        countElement.innerText = `현재 채팅방 수: ${count}`;
    }
</script>
</body>
</html>




