<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSE Example</title>

    <head>
        <link rel="icon" type="image/png" href="data:;base64,iVBORw0KGgo=">
        <!-- 나머지 head 태그 내용 -->
    </head>

</head>
<body>
<div id="count"></div>

<script>
    //const sse = new EventSource("https://dorundorun.shop/api/sse");
    const sse = new EventSource("http://localhost:8080/api/sse");

    sse.addEventListener('connect', (e) => {
        console.log("e : ", e);
        let receive = JSON.parse(e.data);
        console.log('연결 현재 채팅방 수 :', receive);  // "connected!"
        handleCountEvent(receive);
    });

    sse.onerror = function (event) {
        if (event.readyState == EventSource.CLOSED) {
            console.log("SSE 연결이 종료되었습니다.");
        } else {
            console.log("SSE 연결이 에러로 인해 종료되었습니다.");
        }
    };

    sse.addEventListener('count', e => {
        console.log("e : ", e);
        let receive = JSON.parse(e.data);
        console.log("현재 채팅방 수 : ", receive);
        handleCountEvent(receive);
    });

    function handleCountEvent(receive) {
        const countElement = document.getElementById('count');
        countElement.innerText = `현재 채팅방 수: ${receive.chatRoomCount}`;
    }
</script>
</body>
</html>




